.wrapper {
  background-color: #d6caff;
  padding: 100px;
  border-radius: 16px;
}
.profile {
  width: 360px;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.describtion {
  padding-top: 50px;
  text-align: center;
}
.avatar {
  width: 170px;
  border-radius: 50%;
  border: 0.1px solid grey;
}
.username {
  font-size: 22px;
  font-weight: 700;
}
.tag,
.location {
  color: gray;
}
.stats {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.stats > li {
  flex-basis: 100%;
  flex-direction: column;
  display: flex;
  background-color: #e7eaebee;
  border: 1px solid #dddddd;
  padding-top: 20px;
  padding-bottom: 20px;
}
.quantity {
  font-weight: 500;
}
.stats > li:first-child {
  border-radius: 0 0 0 8px;
}

.stats > li:last-child {
  border-radius: 0 0 8px 0;
}
